<div id="menu"> 
	<div class="left">ContactMate - Simple Rails 3.2 demostration application.  For more information please contact <a href="mailto:ben.gilbert.london@gmail.com?Subject=Hello">Ben Gilbert</a></div>
	<div class ="right"><%= link_to 'Home', contacts_path %> | <%= link_to 'New Contact', new_contact_path %> | <%= link_to 'Search', search_contacts_path %></div>
</div>
